<div id="<%= dom_id trip_content %>">
  <p>
    <strong>Timestamp:</strong>
    <%= trip_content.timestamp %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= trip_content.content %>
  </p>

</div>
