<h1>Editing trip content</h1>

<%= render "form", trip_content: @trip_content %>

<br>

<div>
  <%= link_to "Show this trip content", trip_trip_content_path %> |
  <%= link_to "Back to trip contents", trip_trip_contents_path %>
</div>
