<p style="color: green"><%= notice %></p>

<h1>Trip contents</h1>

<div id="trip_contents">
  <% @trip_contents.each do |trip_content| %>
    <%= render trip_content %>
    <p>
      <%= link_to "Show this trip content", trip_trip_content_path(id: trip_content) %>
    </p>
  <% end %>
</div>

<%= link_to "New trip content", new_trip_trip_content_path %>
