<% content_for(:title, '旅程新規作成') %>

<h2 class="m-5">旅程新規作成</h2>
<div class="text-center">
  <%= render "form", trip: @trip %>
  
  <br>
  
  <div>
    <%= link_to "Back to trips", trips_path %>
  </div>
</div>
