<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Travel Share</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to trips_path, class:"nav-link me-" do %>
            <i class="fa-solid fa-house" style="color: white;"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", edit_user_registration_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class:"nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
