
<div class="background my-5">
  <div class="d-flex justify-content-end align-items-center h-100 me-10">
    <div class="text-end p-4 rounded-3 bg-light">
      <h1>旅行を、共有しよう</h1>
      <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-outline-primary me-3 mt-4" %>
      <%= link_to "Login", new_user_session_path, class:"btn btn-outline-success me-3 mt-4" %>
    </div>
  </div>
</div>
